<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho(#{titulo_detalhes_dispositivo})}" />
<body>
	<div class="container">
		<div class="row">
			<h1 th:text="#{titulo_detalhes_dispositivo}">Detalhes do Dispositivo</h1>
		</div>
		<div class="row">


			<table class="table table-hover">

				<tr>

					<td th:text="#{nome}">Nome:</td>
					<td><span th:text="${dispositivo.nome}"></span></td>

				</tr>

				<tr>

					<td th:text="#{modelo}">Modelo:</td>
					<td><span th:text="${dispositivo.modelo}"></span></td>

				</tr>

				<tr>

					<td th:text="#{dispositivo_nome_usuario}">Nome do Usuario:</td>
					<td><span th:text="${dispositivo.usuario.nome}"></span></td>

				</tr>

				<tr>

					<td th:text="#{dispositivo_nome_comodo}">Nome do Comodo:</td>
					<td><span th:text="${dispositivo.comodo.nome}"></span></td>

				</tr>

			</table>




		</div>
		<div class="row">
			<a href="/dispositivos"><span th:text="#{retornar}"> Retornar </span></a>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>